.Button {
  padding: 1.5em;
  border-radius: 1.5em;
  box-shadow: 0 5px 15px oklch(0% 0 0deg / 30%);

  &.Button--type-muted {
    --Button-text: var(--uiText);
    --Button-background: transparent;

    &:not(:disabled):hover {
      --Button-background: oklch(from var(--uiHover) l c h);
    }
  }

  &.Button--type-text {
    color: var(--primaryText);
    background-color: black;

    &:not(:disabled):hover {
      --Button-background: oklch(from var(--uiHover) l c h);
    }
  }
}
