.Button {
  padding: 1.5em;
  color: var(--primaryText);
  border-radius: 1.5em;
  box-shadow: 0 5px 15px oklch(0% 0 0deg / 30%);

  &.Button--type-muted {
    color: var(--surfaceText);

    &:not(:disabled):hover {
      --Button-background: oklch(from var(--uiHover) l c h);
    }
  }

  &.Button--type-text {
    color: white;
    background-color: black;

    &:not(:disabled):hover {
      background-color: oklch(23% 0 89deg / 90%);
    }
  }
}
