.Carousel-containerCustom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.Hgroup-custom {
  text-align: start;
}

.Carousel-menuCustom {
  position: absolute;
  inset-block-start: -2.5rem;
  inset-inline-start: 50%;
  display: flex;
  transform: translateX(-50%);
}

.Carousel-exampleCard {
  margin: 2em;
}

.Content-teamCustom {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 8px;
}

.Team-userName {
  position: absolute;
  inset-block-end: 1rem;
  inset-inline-start: 1rem;
  font-size: 32px;
  color: var(--primaryText);
}

.Team-hoverContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  color: var(--primaryText);
  background-color: var(--primary);
  opacity: 0;
  transition-duration: 200ms;
}

.Content-teamCustom:hover .Team-hoverContent {
  position: absolute;
  padding: 1em;
  opacity: 1;
  transition-duration: 200ms;
}

.Content-teamCustom:hover .Team-userName {
  position: relative;
  inset: 0;
  color: var(--primaryText);
  transition-duration: 200ms;
}

.Custom-input {
  display: flex;
  justify-content: start;
  min-inline-size: 400px;
  padding-block: 1.1em;
  padding-inline: 1.5em 9em;
  text-align: start;
  background-color: white;
  border-radius: 50px;
}

.Custom-inputButton {
  position: absolute;
  inset-inline-end: 14.3em;
  box-shadow: none;
}

.Custom-inputForm {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-block-start: 2em;
}
