.Tabs-tab--active {
  border-block-end: 1px solid transparent;
}

.Tabs-content {
  display: none;

  &.Tabs-content--active {
    display: block;
  }
}

.Active {
  background-color: oklch(60% 0 89.876deg / 20%);
  border-block-end: 1px solid var(--primaryBorder);
}

.Tabs-list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}
