.-color-default {
  --foundation-color: var(--color-status-default);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-success {
  --foundation-color: var(--color-status-success);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-info {
  --foundation-color: var(--color-status-info);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-warning {
  --foundation-color: var(--color-status-warning);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-danger {
  --foundation-color: var(--color-status-danger);
  --foundation-color-inverse: var(--color-text-inverse);
}


.-color-primary {
  --foundation-color: var(--color-primary);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-secondary {
  --foundation-color: var(--color-secondary);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-accent {
  --foundation-color: var(--color-accent);
  --foundation-color-inverse: var(--color-text-inverse);
}

.-color-neutral {
  --foundation-color: var(--color-neutral);
  --foundation-color-inverse: var(--color-text-inverse);
}
