.-color-default {
  --foundation-color: var(--color-status-default);
  --foundation-color-reverse: var(--color-text-inverse);
}

.-color-success {
  --foundation-color: var(--color-status-success);
  --foundation-color-reverse: var(--color-text-inverse);
}

.-color-info {
  --foundation-color: var(--color-status-info);
  --foundation-color-reverse: var(--color-text-inverse);
}

.-color-warning {
  --foundation-color: var(--color-status-warning);
  --foundation-color-reverse: var(--color-text-inverse);
}

.-color-danger {
  --foundation-color: var(--color-status-danger);
  --foundation-color-reverse: var(--color-text-inverse);
}
