.-size-xsmall {
  --foundation-size: 0.6em;
}

.-size-small {
  --foundation-size: 0.8em;
}

.-size-default {
  --foundation-size: 1em;
}

.-size-big {
  --foundation-size: 1.2em;
}

.-size-xbig {
  --foundation-size: 1.4em;
}
