.Breadcrumb {
  display: flex;
  gap: 0.25rem;
}

.Breadcrumb-separator {
  align-content: center;
}

.Breadcrumb-action {
  display: flex;
  align-items: center;
  padding-inline: 0.25em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--uiActive);
  }

  &.Breadcrumb-action--active {
    color: var(--uiActive);
    text-decoration: underline;
  }
}
