.Form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Form-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}

.Form-columnFull {
  display: grid;
  grid-column: span 6;
}

.Form-columnHalf {
  display: grid;
  grid-column: span 3;

  @media (width <= 960px) {
    grid-column: span 6;
  }
}

.Form-columnThird {
  display: grid;
  grid-column: span 2;

  @media (width <= 960px) {
    grid-column: span 6;
  }
}
