.Notification {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  min-inline-size: 200px;
  max-inline-size: 300px;
  padding: 0.25rem 0.5rem;
  background-color: var(--ui);
  border: 1px solid var(--uiBorder);
  border-radius: var(--borderRadius);
  box-shadow: var(--surfaceShadow);
}

.Notification-content {
  flex-grow: 1;
}

.Notification-position {
  position: fixed;
  flex-direction: column;
  gap: 1em;

  &.Notification-position--show {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  &.Notification-position--hide {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &.Notification-position--topLeft {
    inset-block-start: 1em;
    inset-inline-start: 1em;
  }

  &.Notification-position--bottomLeft {
    inset-block-end: 1em;
    inset-inline-start: 1em;
  }

  &.Notification-position--topRight {
    inset-block-start: 1em;
    inset-inline-end: 1em;
  }

  &.Notification-position--bottomRight {
    inset-block-end: 1em;
    inset-inline-end: 1em;
  }
}

.Notification-close {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--uiBorder);
  border-radius: var(--borderRadius);

  &:hover {
    background-color: var(--surfaceHover);
  }
}
