.Radio {
  --Radio-color: var(--primary);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: 20px;
  block-size: 20px;
  cursor: pointer;
  background-color: var(--ui);
  border: 1px solid var(--Radio-color);
  border-radius: 50%;

  &:disabled {
    cursor: default;

    --Radio-color: var(--uiDisabled);
  }

  &:not(:disabled):hover {
    border-color: oklch(from var(--Radio-color) calc(l + 0.15) c h);
  }

  &:not(:disabled):focus-visible {
    border-color: oklch(from var(--Radio-color) calc(l + 0.15) c h);
  }

  &:checked::after {
    display: inline-block;
    inline-size: 10px;
    block-size: 10px;
    content: "";
    background-color: var(--Radio-color);
    border-radius: 50%;
  }
}
