.ColorList {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 1rem;
}

.ColorList-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 11;
  align-items: center;
}

.ColorList-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primaryText);
  border: 1px solid color-mix(in oklch, oklch(60% 0 90deg) 75%, transparent 100%);
  border-radius: var(--borderRadius);
}

.ColorList-picker {
  inline-size: 2rem;
  block-size: 2rem;
}

.ColorList-itemText {
  inline-size: 100%;
  text-align: center;
}

.ColorList-picker::-webkit-color-swatch {
  display: block;
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  border-radius: 0.75rem;
}

/*
#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
} */
