.Badge {
  display: inline-flex;
  align-items: center;
  block-size: 2rem;
  padding-inline: 1rem;
  font-weight: bold;
  color: var(--primaryText);
  background-color: var(--primary);
  border-radius: var(--borderRadius);
  box-shadow: 1px 2px;
}
