.Breadcrumb {
  display: flex;
  gap: 0.5rem;
}

.Breadcrumb-separator {
  align-content: center;
}

.Breadcrumb-action {
  display: flex;
  align-items: center;
  padding-inline: 0.5em;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--uiActive);
  }

  &.Breadcrumb-action--active {
    font-weight: 600;
  }
}
