.Control {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.Control-label {
  display: flex;
  justify-content: space-between;
}

.Control-error {
  display: grid;
  font-weight: bold;
  color: var(--error);
}

.Control-info {
  display: grid;
  font-weight: bold;
}
