.Indicator {
  position: fixed;
  inset: calc(anchor(top) + 1em) calc(anchor(right) + 1em) calc(anchor(bottom) + 1em)
    calc(anchor(left) + 1em);
  z-index: -1;
  pointer-events: none;
  background-color: var(--primaryBlock);
  transition: inset 250ms linear;
}

.Indicator-Box {
  inline-size: 50px;
  aspect-ratio: 1;
  background-color: var(--primaryBlock);
  border: var(--borderRadius);
}
