.Switch {
  --Switch-background: var(--ui);
  --Switch-button: oklch(from var(--Switch-background) calc(l - 0.2) c h);
  --Switch-activeBackground: var(--primary);
  --Switch-activeButton: oklch(from var(--Switch-activeBackground) calc(l + 0.2) c h);
  --Switch-disabledBackground: var(--uiDisabled);
  --Switch-disabledButton: oklch(from var(--Switch-disabledBackground) calc(l - 0.2) c h);
  --Switch-hover: oklch(from var(--uiHover) calc(l - 0.2) c h);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  inline-size: 40px;
  block-size: 18px;
  cursor: pointer;
  background-color: var(--Switch-background);
  border: solid 1px var(--uiBorder);
  border-radius: var(--borderRadius);
  transition: background-color 0.2s ease-in-out;

  &:checked {
    background-color: var(--Switch-activeBackground);
  }

  &:disabled {
    cursor: default;
    background-color: var(--Switch-disabledBackground);
  }

  &::before {
    display: inline-block;
    flex-shrink: 0;
    inline-size: 18px;
    block-size: 18px;
    content: "";
    border-radius: 50%;
    transition: margin 0.2s ease-in-out;
  }

  &:not(:checked)::before {
    margin-inline-end: calc(50% + 5px);
    background-color: var(--Switch-button);
  }

  &:checked::before {
    margin-inline-start: calc(50% + 5px);
    background-color: var(--Switch-activeButton);
  }

  &:disabled::before {
    background-color: var(--Switch-disabledButton);
  }

  &:not(:disabled):focus-visible::before {
    outline: 2px solid var(--Switch-hover);
    outline-offset: 3px;
  }

  &:not(:disabled):hover::before {
    outline: 2px solid var(--Switch-hover);
    outline-offset: 3px;
  }
}
