.DocsTable {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1em;
  margin-block-end: 4em;

  & > :nth-child(2n - 1) {
    display: grid;
    gap: 0.5em;
    padding: 8px;
    background-color: #2d2d2d;
    border-radius: 4px;
  }
}

.DocsTable-Selector {
  padding: 8px;
  background-color: #2d2d2d;
  border-radius: 4px;
}
