.Var {
  block-size: 200px;
  aspect-ratio: 1;
  padding: 1em;
  cursor: pointer;
  background-color: var(--g-color-background);
  border: 2px solid var(--g-color-warning);
  border-radius: var(--g-border-radius);
  box-shadow: var(--g-box-shadow-modal);
  transition: background-color var(--g-transition-slowly);

  &:hover {
    background-color: var(--g-input-hover);
  }

  &:active {
    background-color: var(--g-input-active);
  }

  &:focus {
    outline: 2px solid var(--g-input-focus);
    outline-offset: 2px;
  }
}
