.Avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 4rem;
  aspect-ratio: 1;
  overflow: clip;
  background-color: var(--info);
  border-radius: 50%;
}

.Avatar-image {
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.Avatar-fallback {
  position: absolute;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  font-size: 2rem;
  color: var(--primaryText);
}
