.Badge {
  display: inline-flex;
  align-items: center;
  block-size: 1.75rem;
  padding-inline: 0.5rem;
  color: var(--primaryText);
  background-color: var(--primary);
  border-radius: var(--borderRadius);

  &.Badge--outline {
    color: var(--surfaceText);
    background-color: var(--primaryBlock);
  }
}
