.Card {
  --Card-padding: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  min-inline-size: 250px;
  overflow: clip;
  background: var(--surfacePanel);
  border-radius: var(--borderRadius);

  &.Card--muted {
    background: var(--surface);
  }

  &.Card--surface {
    background: var(--surface);
  }
}

.Card-header {
  padding: var(--Card-padding) var(--Card-padding) 0 var(--Card-padding);
  font-size: 1.5em;
}

.Card-content {
  padding: var(--Card-padding) var(--Card-padding) var(--Card-padding);
}

.Card--highlight {
  background-color: var(--surfaceBlock);
}

.Card-HeaderImage {
  inline-size: 100%;
  block-size: auto;
  aspect-ratio: 1.75;
  object-fit: cover;
  object-position: center;
}
