.Card {
  --Card-padding: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  min-inline-size: 250px;
  background: var(--surfacePanel);
  border: 1px solid var(--uiBorder);
  border-radius: var(--borderRadius);

  &.Card--muted {
    background: var(--surface);
  }
}

.Card-header {
  padding: var(--Card-padding) var(--Card-padding) 0 var(--Card-padding);
  font-size: 1.5em;
}

.Card-content {
  padding: var(--Card-padding) var(--Card-padding) var(--Card-padding);
}

.Card--highlight {
  background-color: var(--surfaceBlock);
}
