.List {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  align-items: center;

  &.List--between {
    justify-content: space-between;
  }

  &.List--evenly {
    justify-content: space-evenly;
  }

  &.List--centered {
    justify-content: center;
  }

  &.List--row {
    flex-flow: row;
  }
}

.List-stack {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  inline-size: 100%;
}
