.List {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  &.List--between {
    justify-content: space-between;
  }

  &.List--evenly {
    justify-content: space-evenly;
  }
}

.List-stack {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
}
