.Progress {
  position: relative;
  inline-size: 100%;
  block-size: 0.5rem;
  overflow: clip;
  border-radius: var(--borderRadius);

  &:indeterminate::before {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 0.5rem;
    overflow: clip;
    content: "";
    background-color: var(--primary);
    border-radius: var(--borderRadius);
    animation: Progress-indeterminate 3s linear infinite;
  }

  &::-webkit-progress-inner-element {
    border: 1px solid var(--uiBorder);
    border-radius: var(--borderRadius);
  }

  &::-webkit-progress-bar {
    background-color: var(--ui);
    border-radius: var(--borderRadius);
  }

  &::-webkit-progress-value {
    background-color: var(--primary);
    border-radius: var(--borderRadius);
    transition: width 0.5s;
  }

  /* Transition not working on -moz-progress-bar */
  &::-moz-progress-bar {
    background-color: var(--primary);
  }

  &:indeterminate::-moz-progress-bar {
    background-color: var(--primary);
    animation: Progress-indeterminate 3s linear infinite;
  }
}

@keyframes Progress-indeterminate {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  25% {
    clip-path: polygon(0 0, 25% 0, 25% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(15% 0, 50% 0, 50% 100%, 15% 100%);
  }

  75% {
    clip-path: polygon(30% 0, 75% 0, 75% 100%, 30% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
