.Stepper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  vertical-align: middle;

  &.Stepper--vertical {
    flex-flow: column wrap;
    align-items: flex-start;
  }
}

.Stepper-itemOutline {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  .Stepper--vertical & {
    flex-direction: column;
  }
}

.Stepper-Item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  .Stepper--vertical & {
    flex-direction: column;
    align-items: flex-start;
  }
}

.Stepper-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  transition: background-color 250ms ease;

  &:hover {
    background-color: var(--surfaceHover);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--uiDisabled);
  }
}

.Stepper-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  inline-size: 3rem;
  block-size: 3rem;
  overflow: hidden;
  vertical-align: middle;
  background-color: var(--surfacePanel);
  border: 2px solid var(--uiBorder);
  border-radius: 50%;
  transition:
    background-color 250ms ease,
    border-color 250s ease;

  .Stepper-item--completed & {
    color: var(--primaryText);
    background-color: var(--success);
  }

  .Stepper-item--active & {
    border-color: var(--success);
  }
}

.Stepper-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.Stepper-header {
  font-weight: 600;
}

.Stepper-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 50px;
  block-size: 5px;
  margin: 0 10px;
  vertical-align: middle;
  background-color: var(--uiText);
  border-radius: var(--borderRadius);
  transition: background-color 250ms ease;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--uiDisabled);
  }

  .Stepper-item--completed & {
    background-color: var(--success);
  }

  .Stepper--vertical & {
    inline-size: 5px;
    block-size: 50px;
    margin: 10px 0 10px 22px;
    vertical-align: baseline;
  }
}

.Stepper-icon {
  inline-size: 200%;
  block-size: 200%;
  font-size: 1.5rem;

  &.Stepper-icon--done {
    background-color: var(--success);
  }

  &.Stepper-icon--error {
    background-color: var(--error);
  }

  &.Stepper-icon--warning {
    background-color: var(--warning);
  }

  &.Stepper-icon--loading {
    background-color: var(--info);
    animation: Stepper-rotate 2s linear infinite;
  }

  @keyframes Stepper-rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
