.Tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Tabs-list {
  display: flex;
  gap: 0.5rem;
}

.Tabs-panels {
  display: grid;
}

.Tabs-panel {
  display: none;

  &.Tabs-panel--active {
    display: block;
  }
}
