.Util--gap-1 {
  gap: 0.25rem !important;
}

.Util--gap-2 {
  gap: 0.5rem !important;
}

.Util--gap-3 {
  gap: 1rem !important;
}

.Util--gap-4 {
  gap: 2rem !important;
}

.Util--gap-5 {
  gap: 4rem !important;
}

.Util--gap-6 {
  gap: 8rem !important;
}

.Util--capitalize {
  text-transform: capitalize;
}

.Util--center {
  text-align: center;
}

.Util-linkHash {
  position: relative;
  cursor: pointer;

  &:where(:hover, :active)::after {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: calc(100% + 0.5rem);
    display: flex;
    content: "#";
  }

  &:focus-visible {
    outline: 1px solid var(--uiFocus);
    border-radius: var(--borderRadius);
  }
}

.Util-image {
  inline-size: 100%;
  block-size: auto;
}

.Util-imageCover {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;

  &.Util-imageCover--large {
    min-block-size: 450px;
  }
}
