.ColorList {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.ColorList-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 12;
  align-items: center;
}

.ColorList-item {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 0.25;
  color: var(--primaryText);
  border: 1px solid color-mix(in oklch, white 50%, transparent 100%);
  border-radius: var(--borderRadius);
}
