.Element {
  background: linear-gradient(351deg, rgb(250 0 255 / 5%) -1.18%, rgb(121 255 135 / 5%) 24.53%, rgb(255 255 255 / 0%) 40.44%);
  border-block-end: 1px solid var(--g-color-success);
}

.Element-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
