.Hero {
  flex-direction:column;
  justify-content:center;

}

.Hero-Feature{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:16px;
}

.Hero-Gradient{
  font-size: 72px;
  font-weight:800;
  color:transparent;
  background:linear-gradient(to right, #2F4F96,#30845E);
  background-clip:text;
}



.Hero-Cards{
  inline-size:100%;
  padding:24px;
  background: linear-gradient(161.08deg, rgb(232 239 255 / 10%) -9.04%, rgb(0 84 252 / 10%) -9.03%, rgb(0 84 252 / 4%) 94.88%);


}

.Hero-Card{
    background-color: var(--color-surface-background)
}

.Hero-CardHeader{
  font-weight:700;

}


