.Hero-Heading {
  font-size: 72px;
  font-weight: 800;
  color: transparent;
  text-align: center;
  background: linear-gradient(to right, #2f4f96, #30845e);
  background-clip: text;
}

.Section {
  &.type-hero {
    position: relative;

    &::before {
      position: absolute;
      inset: 0;
      display: block;
      content: "";
      background: linear-gradient(-25deg, rgb(0 239 255 / 0%) -10%, rgb(0 84 252 / 10%) 50%, rgb(0 84 252 / 4%) 110%);
      transform: skewY(-3deg);
    }
  }
}
