@layer theme {
  .Button {
    --button-color: var(--g-color-neutral);
    --button-color-hover: color-mix(in hsl, var(--g-color-neutral), black 20%);
    --button-color-disabled: color-mix(in hsl, var(--g-color-neutral), transparent 40%);

    display: inline-flex;
    transition: transform var(--g-transition-slowly);
    animation: 3s ease-in 1s 2 reverse both paused button-slide;

    &:disabled {
      color: var(--button-color-disabled);
      cursor: default;
      background-color: var(--button-color-disabled);
    }

    &:not(:disabled):focus-within {
      background-color: var(--button-color-hover);
      outline: 2px solid var(--button-color-hover);
      outline-offset: 2px;
    }

    .Button-Container:has(.Button-Label:checked) & {
      background-color: var(--g-button-border);
    }

    &.type-selection {
      background-color: var(--button-color);
    }
  }

  .Button-Icon {
    background-color: var(--button-color);
  }


  @keyframes button-slide {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(100%);
    }
  }

}

@layer overwrite {
  .Button {
    --button-color: 123;
  }
}
