.Alert {
  display: inline-flex;
  gap: 1em;
  align-items: center;
  min-block-size: 3em;
  padding-inline: 1em;
  color: var(--root-color-text);
  background-color: var(--root-color-surface);
  border-radius: var(--g-border-radius-sharp);
}

.Alert-Content {
  flex-grow: 1;
  margin-block: 1em;
}
