.Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 3em;
  block-size: 3em;
  overflow: hidden;
  color: var(--root-color-text);
  background-color: var(--root-color-surface);
  object-fit: cover;
}
