.Breadcrumb {
  --breadcrumb-separator: "/";

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  overflow: hidden;
}

.Breadcrumb-Icon {
  padding: 0.25em;
}

.Breadcrumb-Item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  white-space: nowrap;

  &:nth-child(n + 2)::before {
    padding-inline: 0.5em;
    color: var(--g-color-text);
    content: var(--breadcrumb-separator);
  }

  &.active {
    color: var(--g-color-link-active);
  }
}
