.Button {
  --button-color: var(--g-color-neutral);
  --button-color-hover: color-mix(in hsl, var(--g-color-neutral), black 20%);
  --button-color-disabled: color-mix(in hsl, var(--g-color-neutral), transparent 40%);

  display: inline-flex;
  column-gap: 1em;
  align-items: center;
  min-block-size: 2em;
  padding-inline: 1em;
  font-size: 1em;
  color: var(--g-color-inverse);
  cursor: pointer;
  user-select: none;
  background-color: var(--button-color);
  border: 1px solid transparent;
  border-radius: var(--g-border-radius);
  box-shadow: var(--g-box-shadow);
  transition: transform var(--g-transition-slowly);

  &:disabled {
    color: #999;
    cursor: default;
    background-color: var(--button-color-disabled);
  }

  &:not(:disabled):hover {
    background-color: var(--button-color-hover);
  }

  &:not(:disabled):active {
    background-color: var(--button-color-hover);
    scale: 0.98;
  }

  &:not(:disabled):focus-visible {
    background-color: var(--button-color-hover);
    outline: 2px solid var(--button-color-hover);
    outline-offset: 2px;
  }

  & svg {
    inline-size: 1em;
    block-size: 1em;
  }

  &.type-outline {
    background-color: transparent;
    border-color: var(--g-button-border);
  }

  &.type-text {
    background-color: transparent;
  }

  &.type-link {
    text-decoration: underline;
    background-color: transparent;
  }

  &.icon {
    justify-content: center;
    aspect-ratio: 1;
    padding: 0;
    border-radius: var(--g-border-radius-circle);
  }

  &.inline-wide {
    padding-inline: 3em;
  }
}
