.Card {
  --card-surface: #2C2C2C;

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: var(--card-surface);
  border-radius: var(--g-border-radius);
  transition: var(--g-transition-slowly);

  &.type-light {
    background-color: color-mix(in srgb, var(--card-surface), transparent 20%);
    box-shadow: var(--g-box-shadow-card);
  }

  &.type-square {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    padding: 2em;
    border-radius: 8px;
  }
}

.Card-Heading {
  font-size: var(--g-font-size-xl);
  font-weight: var(--g-font-weight-heading);
  color: var(--g-color-primary);
}

.Card-Body {
  font-size: var(--g-font-size-l);
  color: var(--g-color-text);
}
