.Carousel {
  --carousel-control: var(--g-color-neutral);
  --carousel-active: var(--g-color-info);

  position: relative;
  display: flex;
  inline-size: 600px;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.Carousel-Slide {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  background-color: var(--g-color-accent);
  transition: all var(--g-transition-slowly);
  object-fit: cover;

  &.prev {
    z-index: 1;
    translate: -100% 0;
  }

  &.active {
    z-index: 2;
    translate: 0 0;
  }

  &.next {
    z-index: 1;
    translate: 100% 0;
  }
}

.Carousel-Fade-In {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  pointer-events: none;
  background-color: var(--g-color-accent);
  object-fit: cover;
  opacity: 0;

  &.active {
    z-index: 2;
    opacity: 1;
    transition: opacity var(--g-transition-slowly);
  }

  &.prev,
  &.next {
    z-index: 1;
    opacity: 0;
    transition: opacity var(--g-transition-quickly) 0.5s;
  }
}

.Carousel-IndicatorList {
  position: absolute;
  inset-block-end: 1em;
  z-index: 10;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  inline-size: 100%;
}

.Carousel-Indicator {
  inline-size: 2em;
  block-size: 0.5em;
  cursor: pointer;
  background-color: var(--carousel-control);
  transition: all var(--g-transition-slowly);

  &.active {
    background-color: var(--carousel-active);
  }
}

.Carousel-Control {
  position: absolute;
  inset-block-start: calc(50% - 1em);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 2em;
  block-size: 2em;
  font-size: 3em;
  color: var(--carousel-control);
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &.type-prev {
    inset-inline-start: 0;
  }

  &.type-next {
    inset-inline-end: 0;
  }
}
