.Slides {
  position: relative;
  display: flex;
  flex-direction: column;
  inline-size: 600px;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  background-color: var(--g-color-background);
}

.Slides-Inner {
  position: relative;
  inset: 0;
  justify-content: space-between;
}

.Slides-Item {
  position: absolute;
  z-index: 0;

  img {
    display: block;
  }
}

.Slides-Button {
  position: absolute;
  inset-block-start: 50%;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
}

.Slides-Button[data-target='left-button'] {
  inset-inline-start: 0;
  margin-inline-start: 0.5rem;
}

.Slides-Button[data-target='right-button'] {
  inset-inline-end: 0;
  margin-inline-end: 0.5rem;
}

.Slides-Bottom-Container {
  position: absolute;
  inset-block-end: 0;
  display: flex;
  justify-content: center;
  inline-size: 100%;
  margin-block-end: 0.5rem;
  z-index: 1;
  gap: 0.25rem;
}

.Slider-Button-Bottom {
}

[data-target='bottom-button'] > * {
  margin: 0 5px;
}
