.Checkbox {
  --checkbox-color: var(--g-input-background);
  --checkbox-color-hover: var(--g-input-hover);
  --checkbox-color-disabled: var(--g-input-disabled);
  --checkbox-color-check: var(--g-color-text);
  --checkbox-size: 20px;

  inline-size:var(--checkbox-size);
  block-size:var(--checkbox-size); /* testing purposes */
  font-family: bootstrap-icons;
  font-size:var(--checkbox-size);
  line-height: 1;
  color:var(--checkbox-color-check);
  text-align:center;
  vertical-align:middle;
  cursor: pointer;
  background-color:var(--checkbox-color);
  border:1px black solid;
  border-radius: 4px;

  &:disabled {
    color: color-mix(in hsl, var(--checkbox-color-check), transparent 40%);
    cursor: default;
    background-color: var(--checkbox-color-disabled)
  }

  &:not(:disabled):hover {
    background-color: var(--checkbox-color-hover);
  }

  &:not(:disabled):checked
  {
    background-color:var(--g-color-primary);
  }

  &:not(:disabled):focus-visible {
    background-color: var(--checkbox-color-hover);
    outline: 2px solid var(--checkbox-color-hover);
    outline-offset: 2px;
  }

  &::before{
    visibility:hidden;
    content: "\f26e";
  }

  &:checked::before{
    visibility: visible;
  }

}




