.Checkbox {
  --checkbox-background-color: var(--g-input-background);
  --checkbox-hover: var(--g-input-hover);
  --checkbox-disabled: var(--g-input-disabled);
  --checkbox-checkmark: var(--g-input-text);
  --checkbox-checked-background: var(--g-color-primary);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: 1.5em;
  aspect-ratio: 1;
  color: var(--checkbox-checkmark);
  cursor: pointer;
  background-color: var(--checkbox-background-color);
  border: 1px solid var(--g-color-border);
  border-radius: 4px;

  &:disabled {
    color: color-mix(in hsl, var(--checkbox-checkmark), transparent 60%);
    cursor: default;
    background-color: var(--checkbox-disabled);
  }

  &:not(:disabled):hover {
    border-color: color-mix(in srgb, var(--g-color-border), white 10%);
  }

  &:not(:disabled):checked {
    background-color: var(--checkbox-checked-background);
  }

  &:not(:disabled):focus-visible {
    outline: 1px solid var(--g-color-active);
    outline-offset: 2px;
  }

  &::before {
    font-family: bootstrap-icons, sans-serif;
    visibility: hidden;
    content: "\f26e";
  }

  &:checked::before {
    display: inline-block;
    visibility: visible;
  }
}
