.Chip {
  display: inline-flex;
  align-items: center;
  min-block-size: 3em;
  padding: 0.25em;
  color: var(--root-color-text);
  background-color: var(--root-color-surface);
  border-radius: var(--g-border-radius-pill);
}

.Chip-Content {
  margin-inline: 1em;
}
