.Collapse {
  display: flex;
  flex-direction: column;
}

.Collapse-Action {
  overflow: hidden;
  cursor: pointer;
}

.Collapse-Content {
  display: none;
  overflow: hidden;

  .Collapse[open] > & {
    display: block;
  }
}
