.Dropdown {
  display: inline-flex;
  column-gap: calc(var(--ui-block-size) / 4);
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  max-inline-size: 200px;
  block-size: var(--ui-block-size);
  padding-inline: var(--foundation-size);
  font-size: var(--foundation-size);
  color: var(--foundation-color-inverse);
  cursor: pointer;
  user-select: none;
  background-color: var(--foundation-color);
  border: 1px solid transparent;
  border-radius: calc(var(--foundation-size) / 4);

  &:disabled {
    opacity: 0.5;
  }

  &:has(svg:first-child) {
    padding-inline-start: calc(var(--foundation-size) / 2);
  }

  &:has(svg:last-child) {
    padding-inline-end: calc(var(--foundation-size) / 2);
  }

  &:not(:disabled):hover {
    background-color: color-mix(in srgb, var(--foundation-color), transparent 50%);
  }

  &:not(:disabled):active {
    background-color: var(--color-ui-active);
  }

  &:not(:disabled):focus-within {
    outline: 1px solid var(--foundation-color);
    outline-offset: 2px;
  }

  & svg {
    inline-size: calc(var(--ui-block-size) / 2);
    block-size: calc(var(--ui-block-size) / 2);
  }

  &.type-outline {
    background-color: transparent;
    border-color: var(--foundation-color);
  }

  &.type-text {
    background-color: transparent;
  }

  &.type-link {
    text-decoration: underline;
    background-color: transparent;
  }

  &.icon {
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;

    &:has(svg) {
      padding-inline: 0;
    }
  }

  &.inline-wide {
    padding-inline: calc(3 * var(--foundation-size));
  }
}
