.Dropdown {
  position: absolute;
  inset-block-start: 0;
  flex-direction: column;
  background-color: var(--g-color-background);
  border: 1px solid var(--g-color-border);
  border-radius: var(--g-border-radius);
}

.Dropdown-Item {
  padding: 0.5em;
}
