.InputGroup {
  --input-group-border-color: var(--g-color-border);

  display: flex;
  align-items: stretch;

  & > * {
    padding: 0 0.5em;
    border: 1px solid var(--input-group-border-color);
    border-inline-start: none;
    border-radius: 0;
    block-size: auto;
  }

  & > .Input {
    flex-grow: 1;
  }

  & > :first-child {
    border-inline-start: 1px solid var(--input-group-border-color);
    border-start-start-radius: var(--g-border-radius);
    border-end-start-radius: var(--g-border-radius);
  }

  & > :last-child {
    border-inline-end: 1px solid var(--input-group-border-color);
    border-start-end-radius: var(--g-border-radius);
    border-end-end-radius: var(--g-border-radius);
  }
}

.InputGroup-Text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--root-color-surface);
}
