.InputGroup {
  --input-group-border-color: red;

  display:flex;
  align-items:stretch;
  inline-size:fit-content;


  & > .Input{
    block-size:auto;
  }


  & > *{
    border:1px solid var(--input-group-border-color);
    border-inline-start:none;
    border-radius:0
  }


  & > *:first-child{
    border-inline-start:1px solid var(--input-group-border-color);
    border-start-start-radius: var(--g-border-radius);
    border-end-start-radius:var(--g-border-radius);
  }

  & > *:last-child{
    border-inline-end:1px solid var(--input-group-border-color);
    border-start-end-radius:var(--g-border-radius);
    border-end-end-radius:var(--g-border-radius);
  }
}

.input-group-text{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  padding:6px;
  background-color:var(--g-color-primary);

}
