.Input {
  display: inline-flex;
  column-gap: 1em;
  align-items: center;
  block-size: var(--g-input-block-min);
  padding-inline: var(--foundation-size);
  font-size: var(--foundation-size);
  color: var(--g-color-text);
  user-select: none;
  background-color: var(--g-color-background);
  border: 1px solid var(--g-color-border);
  border-radius: var(--g-border-radius);

  &::placeholder {
    color: color-mix(in srgb, var(--foundation-color) 100%, transparent 80%);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    border-color: color-mix(in srgb, var(--g-color-border), white 10%);
  }

  &:not(:disabled):active {
    background-color: var(--g-input-active);
  }

  &:not(:disabled):focus-visible {
    outline: 1px solid var(--g-color-border);
    outline-offset: 2px;
  }

  &.type-outline {
    background-color: transparent;
    border-color: var(--foundation-color);
  }

  &.type-textarea {
    min-block-size: 6em;
    resize: vertical;
  }

  &.type-select {
    background-color: #2f4f96;
  }
}
