.Input {
  display: inline-flex;
  column-gap: 1em;
  align-items: center;
  block-size: var(--g-input-block-min);
  padding-inline: 0.5em;
  font-size: var(--foundation-size);
  color: var(--g-color-text);
  user-select: none;
  background-color: var(--g-input-background);
  border: 1px solid var(--g-button-border);
  border-radius: var(--g-border-radius);
  min-block-size: var(--g-input-block-min);

  &::placeholder {
    color: color-mix(in srgb, var(--root-color-text) 100%, black 60%);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    border-color: color-mix(in srgb, var(--g-color-border), white 10%);
  }

  &:not(:disabled):focus-visible {
    z-index: 1;
    outline: 1px solid var(--g-color-active);
    outline-offset: 2px;
  }

  &.type-outline {
    background-color: transparent;
    border-color: var(--root-color-surface);
  }

  &.type-textarea {
    min-block-size: 6em;
    resize: vertical;
  }

  &.type-select {
    background-color: #2f4f96;
  }
}
