.Pagination {
  display: flex;
}

.Pagination-Link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-inline-size: 2em;
  block-size: 2em;
  padding-inline: 0.5em;
  color: var(--root-color-text);
  cursor: pointer;
  background-color: var(--root-color-surface);

  &:focus-visible {
    z-index: 1;
    outline: 1px solid var(--g-input-ring);
    outline-offset: 3px;
  }
}
