.Section {
  display: flex;
  justify-content: center;
  padding: 8em 2em;

  &.separator-bottom {
    border-block-end: 2px solid rgb(0 0 0 / 20%);
  }

  &.separator-top {
    border-block-start: 2px solid rgb(0 0 0 / 20%);
  }

  &.narrow {
    align-items: center;
    padding: 1em;
  }

  &.full {
    padding: 0;
  }
}

.Section-Content {
  display: flex;
  gap: 2em;
  inline-size: 100%;
  max-inline-size: 1200px;
  margin: auto;

  &.justify-between {
    justify-content: space-between;
  }

  &.direction-column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.direction-mobile {
    @media (width <= 1000px) {
      flex-direction: column;
      justify-content: stretch;
    }
  }

  &.width-constrained {
    max-inline-size: 760px;
  }

  &.column {
    flex-direction: column;
  }
}

.Section-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  inline-size: 100%;

  @media (width <= 800px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= 500px) {
    grid-template-columns: 1fr;
  }
}
