.Text {
  &.type-h1 {
    font-size: 36px;
    color: var(--color-text);
  }

  &.type-h2 {
    font-size: 28px;
    color: var(--color-text);
  }

  &.type-h3 {
    font-size: 18px;
    color: var(--color-text);
  }

  &.type-link {
    font-size: 18px;
    color: var(--color-brand-primary);
  }

  &.emphasise {
    font-weight: bold;
    color: var(--color-brand-primary);
  }

  &.center {
    text-align: center;
  }

  &.type-code {
    display: block;
    padding: 1em;
    margin-block-end: 1em;
    font-family: monospace;
    white-space: pre;
    background-color: #2e3440;
    border-radius: 4px
  }
}
