.Variables {
  &.type-light {
    color-scheme: light;

    /* font */
    --g-font-family-text: roboto, -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --g-font-family-code: "Nordhealth Mono", monospace, monospace;
    --g-font-family-icon: "Nordhealth Mono", monospace, monospace;
    --g-font-size-xxxl: 2.25rem;
    --g-font-size-xxl: 1.5rem;
    --g-font-size-xl: 1.25rem;
    --g-font-size-l: 1rem;
    --g-font-size-m: 0.875rem;
    --g-font-size-s: 0.75rem;
    --g-font-size-xs: 0.6875rem;
    --g-font-weight: 400;
    --g-font-weight-active: 500;
    --g-font-weight-heading: 600;
    --g-font-weight-strong: 670;
    --g-line-height-tight: 1.15;
    --g-line-height-heading: 1.2;
    --g-line-height-caption: 1.3;
    --g-line-height: 1.5;
    --g-line-height-form: 20px;
    --g-color-text: rgb(12 26 61);
    --g-color-text-weak: rgb(54 67 74);
    --g-color-text-weaker: rgb(102 118 128);
    --g-color-text-weakest: rgb(178 186 191);
    --g-color-inverse: rgb(255 255 255);
    --g-color-selected-text: rgb(255 255 255);
    --g-color-selected-background: rgb(255 255 255);

    /* link */
    --g-color-link: rgb(53 89 199);
    --g-color-link-active: rgb(53 89 199);
    --g-color-link-pressed: rgb(53 89 199);

    /* heading */
    --g-color-heading: rgb(53 89 199);
    --g-color-heading-inverse: rgb(53 89 199);

    /* color */

    /* weak, strong, border, status : color-mix */
    --g-color-primary: rgb(103 208 188);
    --g-color-secondary: rgb(239 199 68);
    --g-color-accent: rgb(176 161 99);
    --g-color-neutral: rgb(85 89 93);
    --g-color-muted: rgb(196 200 203);
    --g-color-error: rgb(210 64 35);
    --g-color-danger: rgb(178 48 21);
    --g-color-success: rgb(17 118 39);
    --g-color-warning: rgb(148 105 0);
    --g-color-highlight: rgb(121 58 175);
    --g-color-info: rgb(52 81 178);
    --g-color-progress: rgb(1 109 131);

    /* surface */
    --g-color-background: rgb(255 255 255);
    --g-color-border: rgb(216 222 228);
    --g-space-xxl: 72px;
    --g-space-xl: 36px;
    --g-space-l: 24px;
    --g-space-m: 16px;
    --g-space-s: 8px;
    --g-space-xs: 4px;
    --g-border-radius-sharp: 0.4em;
    --g-border-radius-s: 3px;
    --g-border-radius: 5px;
    --g-border-radius-pill: 999px;
    --g-border-radius-circle: 50%;

    /* elevation */
    --g-box-shadow: 0 1px 3px rgb(12 12 12 / 9%);
    --g-box-shadow-header: 0 1px 5px rgb(12 12 12 / 5%);
    --g-box-shadow-card: 0 0 0 1px var(--g-color-border), 0 1px 5px rgb(12 12 12 / 5%), 0 0 40px rgb(12 12 12 / 1.5%);
    --g-box-shadow-nav: 0 0 0 1px var(--g-color-border), 0 5px 17px rgb(12 12 12 / 14%);
    --g-box-shadow-popout: 0 4px 12px rgb(12 12 12 / 15%), 0 0 0 1px rgb(0 0 0 / 5%);
    --g-box-shadow-modal: 0 24px 38px 3px rgb(12 12 12 / 16%), 0 9px 86px 8px rgb(12 12 12 / 10%), 0 11px 15px -7px rgb(12 12 12 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);

    /* input */
    --g-input-block-min: 2em;
    --g-input-background: #d9d9d9;
    --g-input-text: #d9d9d9;
    --g-input-active: #d9d9d9;
    --g-input-disabled: #5d5d5d;
    --g-input-focus: #28483c;
    --g-input-hover: #d8e7e6;
    --g-input-ring: #d8e7e6;
    --g-button-text: #d8e7e6;
    --g-button-background: #d8e7e6;
    --g-button-border: #d8e7e6;

    /* transition */
    --g-transition-quickly: 100ms ease;
    --g-transition-slowly: 250ms ease;
    --g-transition-mobile: 400ms ease;
  }

  &.type-dark {
    color-scheme: dark;

    /* font */
    --g-font-family-text: roboto, -apple-system, blinkmacsystemfont, "Segoe UI", helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --g-font-family-code: "Nordhealth Mono", monospace, monospace;
    --g-font-family-icon: "Nordhealth Mono", monospace, monospace;
    --g-font-size-xxxl: 2.25rem;
    --g-font-size-xxl: 1.5rem;
    --g-font-size-xl: 1.25rem;
    --g-font-size-l: 1rem;
    --g-font-size-m: 0.875rem;
    --g-font-size-s: 0.75rem;
    --g-font-size-xs: 0.6875rem;
    --g-font-weight: 400;
    --g-font-weight-active: 500;
    --g-font-weight-heading: 600;
    --g-font-weight-strong: 670;
    --g-line-height-tight: 1.15;
    --g-line-height-heading: 1.2;
    --g-line-height-caption: 1.3;
    --g-line-height: 1.5;
    --g-line-height-form: 20px;
    --g-color-text: #E1E2E3;
    --g-color-text-weak: rgb(54 67 74);
    --g-color-text-weaker: rgb(102 118 128);
    --g-color-text-weakest: rgb(178 186 191);
    --g-color-inverse: rgb(255 255 255);
    --g-color-selected-text: rgb(255 255 255);
    --g-color-selected-background: rgb(255 255 255);

    /* link */
    --g-color-link: rgb(53 89 199);
    --g-color-link-active: rgb(53 89 199);
    --g-color-link-pressed: rgb(53 89 199);

    /* heading */
    --g-color-heading: #DCDCDC;
    --g-color-heading-inverse: rgb(53 89 199);

    /* color */

    /* weak, strong, border, status : color-mix */
    --g-color-primary: #3A4766;
    --g-color-secondary: #141285;
    --g-color-accent: #3d3c3c;
    --g-color-neutral: rgb(85 89 93);
    --g-color-muted: rgb(196 200 203);
    --g-color-error: rgb(210 64 35);
    --g-color-danger: rgb(178 48 21);
    --g-color-success: rgb(17 118 39);
    --g-color-warning: rgb(148 105 0);
    --g-color-highlight: rgb(121 58 175);
    --g-color-info: rgb(52 81 178);
    --g-color-progress: rgb(1 109 131);

    /* surface */
    --g-color-background: #1F1F1F;
    --g-color-popover-background: #3a3a3a;
    --g-color-border: #333;
    --g-space-xxl: 72px;
    --g-space-xl: 36px;
    --g-space-l: 24px;
    --g-space-m: 16px;
    --g-space-s: 8px;
    --g-space-xs: 4px;
    --g-border-radius-sharp: 0.4em;
    --g-border-radius-s: 3px;
    --g-border-radius: 5px;
    --g-border-radius-pill: 999px;
    --g-border-radius-circle: 50%;

    /* elevation */
    --g-box-shadow: 0 1px 3px rgb(12 12 12 / 9%);
    --g-box-shadow-header: 0 1px 5px rgb(12 12 12 / 5%);
    --g-box-shadow-card: 0 0 0 1px var(--g-color-border), 0 1px 5px rgb(12 12 12 / 5%), 0 0 40px rgb(12 12 12 / 1.5%);
    --g-box-shadow-nav: 0 0 0 1px var(--g-color-border), 0 5px 17px rgb(12 12 12 / 14%);
    --g-box-shadow-popout: 0 4px 12px rgb(12 12 12 / 15%), 0 0 0 1px rgb(0 0 0 / 5%);
    --g-box-shadow-modal: 0 24px 38px 3px rgb(12 12 12 / 16%), 0 9px 86px 8px rgb(12 12 12 / 10%), 0 11px 15px -7px rgb(12 12 12 / 10%), 0 0 0 1px rgb(0 0 0 / 5%);

    /* input */
    --g-input-block-min: 2em;
    --g-input-background: #d9d9d9;
    --g-input-text: #d9d9d9;
    --g-input-active: #d9d9d9;
    --g-input-disabled: #5d5d5d;
    --g-input-focus: #28483c;
    --g-input-hover: #d8e7e6;
    --g-input-ring: #204ea1;
    --g-button-text: #d8e7e6;
    --g-button-background: #d8e7e6;
    --g-button-border: #626262;

    /* transition */
    --g-transition-quickly: 100ms ease;
    --g-transition-slowly: 250ms ease;
    --g-transition-mobile: 400ms ease;
  }
}
