.HeaderNavigation {
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
  justify-content: center;
}

.HeaderNavigation-link {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  border-radius: var(--borderRadius);

  &:hover {
    background-color: var(--surfaceHighlight);
  }

  &.HeaderNavigation-link--active {
    color: var(--primary);
    background-color: oklch(from var(--primary) 90% c h / 20%);
  }
}

/* refactor */

/*
.PortfolioHeader-toggle {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-self: center;
  justify-content: center;
  vertical-align: middle;
}

.PortfolioHeader-hamburgerMenu {
  display: none;

  @media (width <= 960px) {
    display: flex;
  }
}

.PortfolioHeader-mobileMenu {
  position: absolute;
  inset-block-start: 0 !important;
  inset-inline-start: 0 !important;
  inline-size: 100%;
  block-size: 100dvh;
  overflow: auto;
  background-color: var(--surface);

  @media (width >= 960px) {
    display: none;
  }
}

:root:has(.Popover:popover-open) {
  overflow: hidden;
}

.PortfolioHeader-mobileMenuList {
  padding: 1em;
  overflow-y: auto;
  background-color: var(--surface);
}

.PortfolioHeader-stickyContainer {
  @media (width <= 960px) {
    position: sticky;
    inset-block-start: 0;
    z-index: 1;
  }
}
*/
