.Block-Template {
  position: relative;
  display: block;
  block-size: 400px;
  overflow: hidden;
  background-color: var(--surface);
  border: 1px solid var(--uiBorder);
  border-radius: 10px;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}

.Blocks-List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Blocks-Content-Wrapper {
  position: relative;
  display: flex;
  inline-size: 100%;
  block-size: 100%;
}

.Blocks-Content {
  flex: 1;
  block-size: 100%;
  border: 1px solid var(--uiBorder);
}

.User-Group {
  display: flex;
  flex-direction: row;
  block-size: auto;
  vertical-align: middle;
}

.Menu-Link {
  padding: 6px;
  font-size: 16px;
}

.Menu-Toggle {
  display: none;
}

.SideMenu-Menu--sliding {
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.Menu-Toggle:checked + .SideMenu-Menu--sliding {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}

@media (width <= 850px) {
  .User-Group {
    &.SideMenu {
      position: absolute;
      inset-block-start: 100%;
      inset-inline-start: 0;
      justify-content: start;
      padding: 30px;
    }
  }
}
