.Logo {
  padding: 1em;
}

.Logo-centered {
  align-self: stretch;
}

.Logo-colored {
  inline-size: 100%;
  padding-block-end: 3em;
  background-color: var(--surfaceBlock);
}

.Logo-grid {
  justify-content: space-evenly;
  inline-size: 100%;
}
