.Badge {
  display: inline-flex;
  align-items: center;
  block-size: 1.6rem;
  padding-inline: 0.8rem;
  color: var(--primaryText);
  background-color: var(--primary);
  border-radius: var(--borderRadius);
}
