.Content {
  & > :first-child {
    margin-block-start: 0;
  }

  & > :last-child {
    margin-block-end: 0;
  }
}

.Content-titleInfo {
  margin-block: 0.75rem;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.1;
  color: var(--primary);
  text-wrap: balance;
}

.Content-title {
  margin-block: 1em 0.5em;
  font-size: calc(3em + 2 * var(--textMultiplier));
  font-weight: bold;
  line-height: 1.1;
  text-wrap: balance;
}

.Content-titleDescription {
  margin-block: 0.75rem;
  font-size: calc(1em + var(--textMultiplier));
  line-height: 1.1;
  text-wrap: balance;
}

.Content-heading1 {
  margin-block: 1em 0.5em;
  font-size: calc(1rem * pow(var(--textScale), 4));
  font-weight: bold;
  line-height: 1.1;
}

.Content-heading2 {
  margin-block: 1em 0.5em;
  font-size: calc(1rem * pow(var(--textScale), 3));
  font-weight: bold;
  line-height: 1.1;
}

.Content-heading3 {
  margin-block: 1em 0.5em;
  font-size: calc(1rem * pow(var(--textScale), 2));
  font-weight: bold;
  line-height: 1.1;
}

.Content-heading4 {
  margin-block: 1em 0.5em;
  font-size: calc(1rem * var(--textScale));
  font-weight: bold;
  line-height: 1.1;
}

.Content-text {
  margin-block: 0.5em;
  font-size: 1em;
  line-height: 1.5;
  color: light-dark(
    oklch(from var(--surfaceText) calc(l + 0.15) c h),
    oklch(from var(--surfaceText) calc(l - 0.15) c h)
  );
}

.Content--bold {
  font-weight: 600;
  color: var(--surfaceText);
}

.Content--capitalize {
  text-transform: capitalize;
}

.Content--strike {
  text-decoration: line-through;
}

.Content-image {
  inline-size: 100%;
  block-size: auto;
}

.Content-link {
  --Content-linkColor: oklch(50% 0.15 260deg);

  display: inline-flex;
  gap: 0.25em;
  align-items: center;
  margin-inline: 3px;
  color: var(--Content-linkColor);
  text-decoration-line: underline;
  cursor: pointer;

  &:hover {
    color: oklch(from var(--Content-linkColor) calc(l - 0.05) c h);
    text-decoration-line: underline;
  }

  &:focus-visible {
    outline: 1px solid var(--uiFocus);
    outline-offset: 1px;
  }
}

.Content-linkHash {
  position: relative;
  cursor: pointer;

  &:where(:hover, :active)::after {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: calc(100% + 0.5rem);
    display: flex;
    color: var(--primary);
    content: "#";
  }
}

.Content-table {
  inline-size: 100%;
  margin-block: 0.75rem;
  overflow: clip;
  border-collapse: collapse;
  border-radius: var(--borderRadius);

  & thead {
    font-weight: bold;
    background-color: var(--surfacePanel);
  }

  & td,
  & th {
    padding: 0.5em;
    border-block-end: 1px solid var(--uiBorder);
  }
}

.Content-code {
  display: flex;
  padding: 0.5em;
  margin-block: 0.75rem;
  overflow: auto;
  font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Droid Sans Mono", "Courier New", monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  white-space: pre;
  border: 1px solid var(--surfaceBorder);
  border-radius: var(--borderRadius);
}

.Content-badge {
  padding: 1px 0.25em;
  margin-inline: 2px;
  line-height: 1;
  white-space: nowrap;
  background-color: var(--primaryBlock);
  border-radius: var(--borderRadius);
}

.Content-list {
  margin-block: 0.75rem;
  list-style-position: inside;
  list-style-type: disc;

  & > li {
    display: list-item;
    line-height: 1.5;
    color: light-dark(
      oklch(from var(--surfaceText) calc(l + 0.15) c h),
      oklch(from var(--surfaceText) calc(l - 0.15) c h)
    );
  }
}

.Content-listDescription {
  & > dt {
    display: block;
    font-weight: 600;
  }

  & > dd {
    clear: both;
    display: inline;
  }
}

@property --Content-quoteColor {
  inherits: false;
  syntax: "<color>";
  initial-value: var(--info);
}

.Content-quote {
  padding: 0.5em;
  margin-block: 0.75rem;
  font-size: 1em;
  line-height: 1.5;
  color: oklch(from var(--Content-quoteColor) calc(l - 0.1) c h);
  background-color: var(--Content-quoteColor);
  border: 1px solid var(--surfaceBorder);
  border-radius: var(--borderRadius);
}

.Content-divider {
  border-block-end: 1px solid var(--surfaceBorder);
}
