.Dropdown {
  position: fixed;
  box-shadow: var(--surfaceShadow);

  &.Dropdown--center {
    inset-block-start: calc(anchor(bottom));
    inset-inline-start: revert;
    justify-self: anchor-center;
  }

  &.Dropdown--left {
    inset-block-start: calc(anchor(bottom) + 0.25rem);
    inset-inline-start: anchor(left);
  }

  &.Dropdown--right {
    inset-block-start: calc(anchor(bottom) + 0.25rem);
    inset-inline-end: anchor(right);
  }

  @media (width < 960px) {
    inset: 0 !important;
    place-self: center center;
  }

  &.Dropdown--modal::backdrop {
    pointer-events: none;
    background-color: var(--surfaceBackdrop);
  }
}

.Drawer {
  position: fixed;
  background-color: var(--surfacePanel);
  border-inline-end: 1px solid var(--uiBorder);
  box-shadow: var(--surfaceShadow);

  &::backdrop {
    background-color: var(--surfaceBackdrop);
  }

  &.Drawer--position-top {
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 30%;
  }

  &.Drawer--position-left {
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 40%;
    block-size: 100%;
  }

  &.Drawer--position-bottom {
    inset-block-end: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 40%;
  }

  &.Drawer--position-right {
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: 40%;
    block-size: 100%;
  }
}
