.Select {
  --Select-border: var(--uiBorder);

  position: relative;
  display: inline-flex;
  column-gap: 1em;
  align-items: center;
  block-size: 2em;
  padding-inline: 0.5em;
  padding-inline-end: 1em;
  font-size: inherit;
  color: var(--uiText);
  user-select: none;
  background-color: var(--ui);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M4.646 6.646a.5.5 0 01.708 0L8 9.293l2.646-2.647a.5.5 0 11.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.25em center;
  background-size: 1em;
  border: 1px solid var(--Select-border);
  border-radius: var(--borderRadius);

  &::placeholder {
    color: oklch(from var(--uiText) calc(l - 0.05) c h);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    border-color: oklch(from var(--uiBorder) calc(l - 0.05) c h);
  }

  &:not(:disabled):focus-visible {
    --Select-border: var(--uiFocus);
  }
}
