.Started-Button{
  padding:6px 16px;
  color: var(--color-text-revers);
  cursor:pointer;
  background-color: var(--input-color);
  border-radius:var(--input-border-radius);

}

.Started-Code{
  display:flex;
  align-items:center;
  justify-content:center;
  padding:6px 8px;
  background-color:#fff;
  border: solid 1px black;
  border-radius:var(--input-border-radius);

}

.Started-ClipboardWrapper{
  inline-size:20px;
  margin-inline-start: 16px;
  overflow:hidden;
  cursor: pointer;
  block-size:20px;
}

.Started-Clipboard {
  position:relative;
  inset-block-end:0;
  transition:0.5s;
}

.Started-Copied{
  inset-block-end:30px;
}

.Started-Svg{
  inline-size:17px;
  margin-block-end:12px;
}

.Started-Svg:first-child{
  transition-duration: 0.3s;
  transform:scale(0.9)
}

.Started-Svg:first-child:hover {
  transform: scale(1);
}


