.Header-Navigation {
  display: flex;
  justify-content: space-between;
}

.Header-Logo {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  inline-size: 211px;
  background-image: url("../assets/logos/guvamfull.svg");
  block-size: 48px;

  @media (width <= 360px) {
    inline-size: 48px;
    background-image: url("../assets/logos/guvamicon.svg");
  }
}

.Header-Button {
  position: relative;
  z-index: 1;
  display: none;
  aspect-ratio: 1;
  background-image: url('../assets/icons/menu-open.svg');
  background-repeat: no-repeat;
  background-position: center;
  block-size: 48px;

  @media (width <= 800px) {
    display: block;
  }

  .Header-Navigation:has(:checked) & {
    background-image: url('../assets/icons/menu-close.svg');
  }
}

.Header-Menu {
  display: flex;
  column-gap: 1em;

  @media (width <= 800px) {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: -100%;
    flex-direction: column;
    row-gap: 2em;
    align-items: flex-start;
    inline-size: 100%;
    padding: min(30vh, 100rem) 2rem;
    background-color: #b6b6b6;
    transition: left 350ms ease-out;
    block-size: 100vh;

    .Header-Navigation:has(:checked) & {
      inset-inline-start: 0;
    }
  }
}

.Header-MenuItem {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.Header-MenuItemText {
  display: none;

  @media (width <= 800px) {
    display: block;
  }
}
