.Header-Navigation {
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
}

.Header-Logo {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  inline-size: 106px;
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 24px;
}

.Header-Button {
  position: relative;
  z-index: 1;
  display: none;
  aspect-ratio: 1;

  @media (width <= 800px) {
    display: block;
  }

  & rect {
    transition: all 000ms linear;
    transform-origin: center;
  }

  .Header-Navigation:has(:checked) & {
    & rect:nth-child(1) {
      transform: rotate(45deg) translateY(7px);
    }

    & rect:nth-child(2) {
      opacity: 0;
    }

    & rect:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px);
    }
  }
}

.Header-Menu {
  display: flex;
  column-gap: 1em;

  @media (width <= 800px) {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: -100%;
    flex-direction: column;
    row-gap: 2em;
    align-items: flex-start;
    inline-size: 100%;
    padding: min(30vh, 100rem) 2rem;
    background-color: var(--color-surface-background);
    transition: left 350ms ease-out;
    block-size: 100vh;

    .Header-Navigation:has(:checked) & {
      inset-inline-start: 0;
    }
  }
}

.Header-MenuItem {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: var(--color-text-base);
}

.Header-MenuItemText {
  display: none;

  @media (width <= 800px) {
    display: block;
  }
}

.Header-Theme {
  z-index: 1;
  inline-size: 24px;
  aspect-ratio: 1;
  cursor: pointer;

}
