.Header-Navigation {
  display: flex;
  justify-content: space-between;
}

.Header-Logo {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  inline-size: 106px;
  background-image: url('../assets/logos/guvamfull.svg');
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 24px;

  @media (width <= 360px) {
    inline-size: 24px;
    background-image: url('../assets/logos/guvamicon.svg');
  }
}

.Header-Button {
  position: relative;
  z-index: 1;
  display: none;
  cursor: pointer;
  aspect-ratio: 1;

  @media (width <= 800px) {
    display: block;
  }

  & rect {
    transition: all 330ms linear;
    transform-origin: center;
  }

  .Header-Navigation:has(:checked) & {
    & rect:nth-child(1) {
      transform: rotate(45deg) translateY(7px);
    }

    & rect:nth-child(2) {
      opacity: 0;
    }

    & rect:nth-child(3) {
      transform: rotate(-45deg) translateY(-7px);
    }
  }
}

.Header-Menu {
  display: flex;
  flex-direction: row;
  column-gap: 1em;

  @media (width <= 800px) {
    position: fixed;
    inset-block-start: -100%;
    inset-inline-start: 0;
    flex-direction: column;
    row-gap: 2em;
    align-items: flex-start;
    inline-size: 100%;
    padding: min(30vh, 100rem) 2rem;
    background-color: #fafafa;
    transition: top 550ms ease-out;
    block-size: 100vh;

    .Header-Navigation:has(:checked) & {
      inset-block-start: 0;
    }
  }
}

.Header-Dropdown {
  display: flex;
  flex-direction: row;

  @media (width <= 800px) {
    flex-direction: column;
  }
}

.Header-MenuItem {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-inline-start: 10px;
  color: var(--color-text);
  transition-duration: 250ms;

  @media (width <= 800px) {
    margin-block-start: 15px;
    font-size: 24px;
    font-weight: bold;
  }
}

.Header-MenuItem:hover {
  color: black;
}

.Header-MenuItemText {
  display: none;

  @media (width <= 800px) {
    display: block;
  }
}
