.Accordion-Root{
  inline-size:100%;
  max-block-size:300px;

}

.Accordion-Item{
  display:grid;
  flex-direction:column;
  grid-template-rows:0fr;
  inline-size:100%;
  overflow: hidden;
  cursor:default;
  border: 1px solid white;
}


.Accordion-AnimationWrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.4s ease-out;
}

.Accordion-Active > .Accordion-AnimationWrapper{
  grid-template-rows: 1fr;
}

.Accordion-Animation{
  min-block-size:0
}

.Accordion-TransformWrapper {
  visibility: hidden;
  transition: transform 0.4s ease-out, visibility 0s 0.4s ease-out;
  transform: translateY(-100%);
}


.Accordion-Active .Accordion-AnimationWrapper, .Accordion-TransformWrapper
{
  visibility: visible;
  transition: transform 0.4s ease-out visibility 0s linear;
  transform: translateY(0);
}


