

.Tabs{
  display:flex;
  flex-wrap:wrap;
  gap:1em;
  margin:20px;

}

.Tab-Window{
  flex-basis:100%;
}

.Tab-Window > *{
  display:none;
}

.Tab-Header{
  color:red;
}

.Tab-Window > .Tab-Active{
  display:block;
}
