:root.Theme--color-lime {
  --primary: light-dark(oklch(47% 0.132 132deg), oklch(81% 0.166 130deg));
  --secondary: light-dark(oklch(47% 0.041 127deg), oklch(82% 0.043 125deg));
  --accent: light-dark(oklch(47% 0.051 190deg), oklch(82% 0.05 190deg));
  --info: light-dark(oklch(48% 0.114 270deg), oklch(83% 0.113 270deg));
  --success: light-dark(oklch(40% 0.118 145deg), oklch(83% 0.117 145deg));
  --warning: light-dark(oklch(40% 0.15 100deg), oklch(83% 0.15 100deg));
  --error: light-dark(oklch(45% 0.21 28.223deg), oklch(83% 0.21 28.223deg));
}
